<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>990275683001-ji0mcg5l1fho7eqko98oebnnh1h9epko.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.990275683001-ji0mcg5l1fho7eqko98oebnnh1h9epko</string>
	<key>API_KEY</key>
	<string>AIzaSyDW23YjhjYnczAewkHEPZzLSQ3jz0H4yJU</string>
	<key>GCM_SENDER_ID</key>
	<string>990275683001</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.uberClone</string>
	<key>PROJECT_ID</key>
	<string>uberclone-f3acb</string>
	<key>STORAGE_BUCKET</key>
	<string>uberclone-f3acb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:990275683001:ios:a5ceb2337ad6f40ff79168</string>
</dict>
</plist>